{% if block.settings.collections.count > 1 %}
    <style>
        .collection-link{
            border-right: 1px solid #000;
            margin-right: 12px;
            padding-right: 12px;
        }
        .collection-link:last-child{
            border: none;
            margin-right: 0;
            padding-right: 0;
        }
        @media (min-width: 750px){
            .collection-link{
                margin-right: 24px;
                padding-right: 24px;
            }
        }
    </style>
{% endif %}

<div>
    {% for collection in block.settings.collections %}
        <a href="{{ collection.url }}" class="collection-link">{{ collection.title }}</a>
    {% endfor %}
</div>

{% schema %}
    {
        "name": "Collection List",
        "settings": [
            {
                "type": "collection_list",
                "id": "collections",
                "limit": 4,
                "label": "Collections",
                "info": "If more than one collection is required."
            }
        ],
        "presets": [{"name": "Collection List"}]
    }
{% endschema %}
