<div>
    <h3>{{ block.settings.title }}</h3>
</div>

{% schema %}
    {
        "name": "Title",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            }
        ],
        "presets": [{"name": "Title"}]
    }
{% endschema %}
