{{ 'section-image-text-columns.css' | asset_url |  stylesheet_tag  }}

<section id="image-and-text-columns-{{ section.id }}" class="image-and-text-columns section">
    <div class="page-width">
        <div class="columns">
            {% content_for 'blocks' %}
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Image and Text Columns",
        "class": "image-and-text-columns",
        "blocks": [{"type": "@app"},{"type": "@theme"}],
        "presets": [
            {
                "name": "Image and Text Columns"
            }
        ]
    }
{% endschema %}