.icon-text-columns .columns{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}
.icon-text-columns .columns .column{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-text-columns .columns .column img{
    height: 55px;
    width: max-content
}
.icon-text-columns .columns .column p{
    max-width: 140px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
    text-align: center;
    color: #000;
}
@media (min-width: 750px){
    .icon-text-columns .columns{
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        gap: auto;
    }
    .icon-text-columns .columns .column{
        max-width: 33.3%;
    }
    .icon-text-columns .columns .column p{
        max-width: 191px;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 1px;
    }
}